<% users.each do | user | %>
  <ul>
    <li>Name: <%= link_to user.full_name, user_path(user) %></li>
    <li>Username: <%= user.username %></li>
    <li>
      <%= button_to "Edit", edit_user_path(user), method: :get %>
      <%= button_to "Delete", delete_user_path(user) %>
    </li>    
  </ul>
<% end %>

