<h2>Users</h2>
<% if @admins.any? %>
  <h3>Administrators</h3>
  <%= render partial: 'user_information', locals: {users: @admins } %>
<% end %>
<br />
<br />
<% if @instructors.any? %>
  <h3>Instructors</h3>
  <%= render partial: 'user_information', locals: {users: @instructors } %>
<% end %>
<br />
<br />
<% if @students.any? %>
  <h3>Students</h3>
  <%= render partial: 'user_information', locals: {users: @students } %>
<% end %>
<%= button_to "Add User", new_user_path, method: :get %>
