* {
  box-sizing: border-box;
}

html { 
  background: url(gaily_background_stripe.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  float: right;
  max-width: 350px;
  font-family: 'Francois One', sans-serif;
  font-size: 50px;
  color: #000;
}

.logo img {
  margin: 0 auto;
}

nav {
  margin-left: 0px;
  margin-top: 20px;
}

.full_name {
  border-bottom: 2px solid #FF0000;
  margin: 0;
}

.ebthaf {
  max-width: 960px;
  margin: 0 auto 100px 100px;
  position: relative;
  font-family: Georgia;
  padding: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

p {
  margin: 0 auto 5px auto;
}

a {
  color: #000;
}


a:hover {
  color: #C1C1C1;
}

.error_explanation, .active_menu_item, .flash {
  color: #FF0000;
}

.button_to {
  display: inline-block;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

.frame {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}

.frame img {
  border: 1px solid #000;
}
.frame.booking {
  width: 300px;
  display: block;
}

.frame.small {
  width: 400px;
}

.frame.medium {
  width: 700px;
}

.frame.large {
  width: 800px;
}

.frame.list-button {
  width: 190px;
}

.frame.button {
  width: 100px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.instructor {
  clear: both;
}

.classroom {
  display: inline-block;
}

input[type="submit"] {
  border-radius: 5px;
  background-color: #FFF6B1;
}

.information {
  display: inline-block;
}
