* {
  box-sizing: border-box;
}

.error_explanation {
  color: #FF0000;
}

.box {
  position: relative;
  width: 800px;
  height: 400px;
}

.box-left {
  position: absolute;
  left: 0px;
  width: 300px;
  height: 400px;
}

.box-right {
  position: absolute;
  right: 0px;
  width: 450px;
  height: 400px;
}

.box-bottom {
  position: absolute;
  bottom: 40px;
  left: 0px;
}

.button_to {
  display: inline-block;
}