* {
  box-sizing: border-box;
}

html { 
  background: url(memeBASE-home-view.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.error_explanation {
  color: #FF0000;
}

.box {
  position: relative;
  width: 800px;
  height: 400px;
}

.box-left {
  position: absolute;
  left: 0px;
  width: 300px;
  height: 400px;
}

.box-right {
  position: absolute;
  right: 0px;
  width: 450px;
  height: 400px;
}

.box-bottom {
  position: absolute;
  bottom: 40px;
  left: 0px;
}

.button_to {
  display: inline-block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}